@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body,#root {
  min-height: auto;
  height: auto;
  overflow-y: auto;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-centered {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.login-main {
  flex: 1;
  display: block;
  padding: 2rem 0;
}



